In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Infectious_Disease_cases2001-2014.csv")

In [3]:
df

,Disease,country,Year,Sex,Count,Population,Rate,CI.lower,CI.upper
0,Amebiasis,California,2001,Total,571,34514777,1.654,1.521,1.796
1,Amebiasis,California,2001,Female,176,17340743,1.015,0.871,1.176
2,Amebiasis,California,2001,Male,365,17174034,2.125,1.913,2.355
3,Amebiasis,California,2002,Total,442,34940334,1.265,1.150,1.389
4,Amebiasis,California,2002,Female,145,17555714,0.826,0.697,0.972
...,...,...,...,...,...,...,...,...,...
141772,Yersiniosis,Yuba,2013,Female,0,36296,0.000,0.000,10.163
141773,Yersiniosis,Yuba,2013,Male,0,36698,0.000,0.000,10.051
141774,Yersiniosis,Yuba,2014,Total,0,73425,0.000,0.000,5.024
141775,Yersiniosis,Yuba,2014,Female,0,36503,0.000,0.000,10.105
141776,Yersiniosis,Yuba,2014,Male,0,36922,0.000,0.000,9.991